@model NexxtSchedule.Models.Service

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

    <h2>@Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.Service_IndexView_Titulo1</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ServiceCategory.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCategory.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax.Impuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax.Impuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href ='@Url.Action("Index", new {})'">
        <span class="glyphicon glyphicon-chevron-left"></span> @Resources.Resource.ButtonBack
    </button>
    <button type="button" class="btn btn-info btn-sm" onclick="location.href ='@Url.Action("Edit", new { id = Model.ServiceId})'">
        <span class="glyphicon glyphicon-list"></span> @Resources.Resource.ButtonEdit
    </button>
</p>
