@model NexxtSchedule.Models.Color

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Details</h2>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ColorDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorDate)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Index", new  {})'">
        <i class="fa fa-backspace"></i>
        @Resources.Resource.ButtonBack
    </button>

    <button type="submit" class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.ColorId })'">
        <i class="fa fa-pencil-alt"></i>
        @Resources.Resource.ButtonEdit
    </button>
</p>
