@model NexxtSchedule.Models.Register

@{
    ViewBag.Title = @Resources.Resource.ViewDelete;
}

    <h2>@Resources.Resource.ViewDelete</h2>

    <h3>@Resources.Resource.ViewDelete</h3>
<div>
    <h4>@Resources.Resource.Register_ViewIndex_Titulo1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotaCobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaCobro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egresos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egresos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-success btn-sm" onclick="location.href ='@Url.Action("Index", new {})'">
                <span class="glyphicon glyphicon-chevron-left"></span> @Resources.Resource.ButtonBack
            </button>
            <button type="submit" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span> @Resources.Resource.ButtonDelete
            </button>
        </div>
    }
</div>
