@model NexxtSchedule.Models.Register

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

    <h2>@Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.Register_ViewIndex_Titulo1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotaCobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaCobro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egresos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egresos)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href ='@Url.Action("Index", new {})'">
        <span class="glyphicon glyphicon-chevron-left"></span> @Resources.Resource.ButtonBack
    </button>
    <button type="button" class="btn btn-info btn-sm" onclick="location.href ='@Url.Action("Edit", new { id = Model.RegisterId})'">
        <span class="glyphicon glyphicon-list"></span> @Resources.Resource.ButtonEdit
    </button>
</p>
