@model IEnumerable<NexxtSchedule.Models.Register>

@{
    ViewBag.Title = @Resources.Resource.Register_ViewIndex_Titulo1;
}
<br />
    <h2>@Resources.Resource.Register_ViewIndex_Titulo1</h2>

    <p>
        @*<button title=@Resources.Resource.ButtonNew class="btn btn-primary btn-sm" onclick="location.href =
            '@Url.Action("Create", "Registers", new { })'">
            <span class="glyphicon glyphicon-plus"></span> @Resources.Resource.ButtonNew
        </button>*@
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NotaCobro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egresos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compobantepago)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotaCobro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Egresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compobantepago)
            </td>
            <td>
                <button title="Editar" class="btn btn-warning btn-sm" onclick="location.href =
                   '@Url.Action("Edit", new { id = item.RegisterId})'">
                    <i class="fa fa-pencil-alt"></i>
                </button>

                <button title="Detalle" class="btn btn-info btn-sm" onclick="location.href =
                   '@Url.Action("Details", new { id = item.RegisterId})'">
                    <i class="fa fa-clipboard-list"></i>
                </button>

                @*<button title=@Resources.Resource.ButtonDelete class="btn btn-danger btn-sm" onclick="location.href =
        '@Url.Action("Delete", "Registers", new { id = item.RegisterId})'">
            <span class="glyphicon glyphicon-trash"></span>
        </button>*@
            </td>
        </tr>
    }

</table>
