@model NexxtSchedule.Models.User

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Model == null)
    {
        <h1>@Resources.Resource.Menu_Titulo</h1>
    }

    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
    {
        <h1>@Model.Company.Name</h1>
        <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Resources.Resource.Menu_Link1</h2>
        <p>
            @Resources.Resource.Menu_Text1
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>@Resources.Resource.Menu_Link2</h2>
        <p>@Resources.Resource.Menu_Text2</p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.Resource.Menu_Link3</h2>
        <p>
            @Resources.Resource.Menu_Text3
        </p>
        @if (Model == null)
        {
            <p>
                <div class="row">
                    <div class="col-md-6">
                        <a mp-mode="dftl" href="https://www.mercadopago.com.co/checkout/v1/redirect?pref_id=134964291-7d408d67-f2a4-4d0a-93b9-20bcc2999508" name="MP-payButton" class='grey-ar-s-rn-coall'>Comprar</a>
                        <script type="text/javascript">
                            (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
                        </script>
                    </div>
                    <div class="col-md-6">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHVwYJKoZIhvcNAQcEoIIHSDCCB0QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBgSje2BKnYbl0Q5c/E9hmqXfppKTyxp9QJaJpmGVVay/hcakqD1Rtb+6BfuzHeDy1TclqO1mjxPQKXVyE+k7ik3C3hlyUOS/cvT/xgK1M6Z8bvb4t/bZn0aq3qToaSKxtuCYoj2wj+y2w6pqyuU2LsyK7UXtnsRWd2SQ1oReuGjDELMAkGBSsOAwIaBQAwgdQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI2v62UHLgJDeAgbCHdqLDgXiaWMhOIs/rvRV5139FYdwVZEW8R7/99eE+KtfC1dbTfltkpwwPysKzl+Biyvt6QAbxjbiVGVW/ddUWhK7PVAvg1GIsvlbOKvPM/ZdkqXULij48gOxz3lEGRuNM6Xiz30DjM5j5HcnVEYt0P9D8IAv8Vr3UsC8ABzHHeKpYclObiXgKRmwiuP1ra78JqGV5O2t7M4/gV5kJycEOuNW6KFTYgN++TJ+Keqcdm6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTIwMDIxMTIzMzYwM1owIwYJKoZIhvcNAQkEMRYEFD8DAG4UQ78B91ToY6SNpxeFAw03MA0GCSqGSIb3DQEBAQUABIGAmt7KDU80LCcQT/+6hIlrfMzDvKqDYjfU/yu3i63RB43Ebtn6yRXvHtSpmp45n0wGYd8vcNphFMDSQkzKwtguldqfYZw5NQwTKbNxgF4YQiE9Vv+5LVEeJsKV/yASH5+M+lW93sN46fMgoVd4DCP53+fu+8muUTW8qQQtl3J3DF8=-----END PKCS7-----">
                            <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                            <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
            </p>
        }
        </div>
</div>