@model NexxtSchedule.Models.Hour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HourId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
