@model IEnumerable<NexxtSchedule.Models.HeadText>

@{
    ViewBag.Title = @Resources.Resource.HeadText_IndexViewTitulo1;
}
<br />
    <h2>@Resources.Resource.HeadText_IndexViewTitulo1</h2>

<p>
    @*<button title=@Resources.Resource.ButtonNew class="btn btn-primary btn-sm" onclick="location.href =
            '@Url.Action("Create", "HeadTexts", new { })'">
        <span class="glyphicon glyphicon-plus"></span> @Resources.Resource.ButtonNew
    </button>*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TextoEncabezado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TextoEncabezado)
        </td>
        <td>
            <button title="Editar" class="btn btn-warning btn-sm" onclick="location.href =
                   '@Url.Action("Edit", new { id = item.HeadTextId})'">
                <i class="fa fa-pencil-alt"></i>
            </button>

            <button title="Detalle" class="btn btn-info btn-sm" onclick="location.href =
                   '@Url.Action("Details", new { id = item.HeadTextId})'">
                <i class="fa fa-clipboard-list"></i>
            </button>

            @*<button title=@Resources.Resource.ButtonDelete class="btn btn-danger btn-sm" onclick="location.href =
        '@Url.Action("Delete", "HeadTexts", new { id = item.HeadTextId})'">
            <span class="glyphicon glyphicon-trash"></span>
        </button>*@
        </td>
    </tr>
}

</table>
