@model NexxtSchedule.Models.Event

@{
    ViewBag.Title =  @Resources.Resource.ViewDelete;
}

    <h2> @Resources.Resource.ViewDelete</h2>

    <h3> @Resources.Resource.MsgDelete</h3>
<div>
    <h4>@Resources.Resource.Event_ViewIndex_Titulo1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profesional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Start))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hour.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-success btn-sm" onclick="location.href ='@Url.Action("Index", new { fecha = Model.Start, profesionalid = Model.ProfessionalId})'">
                <span class="glyphicon glyphicon-chevron-left"></span> @Resources.Resource.ButtonBack
            </button>
            <button type="submit" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span> @Resources.Resource.ButtonDelete
            </button>
        </div>
    }
</div>
