@model NexxtSchedule.Models.Event

@{
    ViewBag.Title =  @Resources.Resource.ViewDetail;
}

    <h2> @Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.Event_ViewIndex_Titulo1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professional.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professional.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThemeColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThemeColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFullDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFullDay)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href ='@Url.Action("Index", new {})'">
        <span class="glyphicon glyphicon-chevron-left"></span> @Resources.Resource.ButtonBack
    </button>
    <button type="button" class="btn btn-info btn-sm" onclick="location.href ='@Url.Action("Edit", new { id = Model.EventId})'">
        <span class="glyphicon glyphicon-list"></span> @Resources.Resource.ButtonEdit
    </button>
</p>
