@model NexxtSchedule.Models.View_Model_DateReport
@{
    ViewBag.Title = "Historial Citas";
}
<br />
<p></p>
<h2>Historial Citas</h2>
<p></p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <div class="shadow mb-1 bg-white rounded">
                <div class="card">
                    <p></p>
                    <div class="card-body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CompanyId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <input type="text" name="txt_search" id="txt_search" class="form-control" placeholder="Buscar Nombre del Cliente" />
                                <input type="hidden" id="item_list" name="ClientId" /><br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateInicio, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DateInicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateFin, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DateFin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">

                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-print"></i>
                                    Reporte
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/JquerySearch/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/JquerySearch/jquery-1.12.4.js"></script>
    <script src="~/Content/JquerySearch/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#txt_search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Events/Search/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#item_list").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}