@model IEnumerable<NexxtSchedule.Models.DirectPayment>

@{
    ViewBag.Title = @Resources.Resource.DirectPayment_IndexView_Titulo1;
}
<br />
    <h2>@Resources.Resource.DirectPayment_IndexView_Titulo1</h2>

    <p>
        <button title="" class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Create", new { })'">
            <i class="fa fa-plus"></i>
            @Resources.Resource.ButtonNew
        </button>
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NotaCobro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professional.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TasaProfesional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NotaCobro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Client.Cliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Professional.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TasaProfesional)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServicioNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tasa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cantidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
    <td>
        @*<button title=@Resources.Resource.ButtonEdit class="btn btn-warning btn-sm" onclick="location.href =
            '@Url.Action("Edit", "DirectPayments", new { id = item.DirectPaymentId})'">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>*@

        <button title="Detalle" class="btn btn-info btn-sm" onclick="location.href =
                   '@Url.Action("Details", new { id = item.DirectPaymentId})'">
            <i class="fa fa-clipboard-list"></i>
        </button>

        <button title="Borrar" class="btn btn-danger btn-sm" onclick="location.href =
                   '@Url.Action("Delete", new { id = item.DirectPaymentId})'">
            <i class="fa fa-trash"></i>
        </button>
    </td>
</tr>
}

</table>
