<!DOCTYPE html>
<html>
<head>
    <meta name="Keywords" content="Software Agenda de Citas, Agenda, Schedule, Organizador, Software Profesionales, Profesionales Comisiones">
    <meta name="Description" content="Organizar para Profesionales de cualquier tipo, permite cobrar servicios y realizar pagos por comisiones a cada profesional.">
    <meta name="Robots" content="all">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="icon" href="~/Content/Imagen/SiteLogo.png" type="image/png" />

    <link href="~/Content/all.min.css" rel="stylesheet" />

    <title>@ViewBag.Title - Software Agenda de Citas</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        @Html.ActionLink("NexxtDent", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    @Html.ActionLink("NexxtCalendar", "Index", "Home", new { }, new { @class = "nav-link" })
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administrador
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Compañia", "Index", "Companies", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Usuarios", "Index", "Users", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Pais", "Index", "Countries", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Level Price", "Index", "LevelPrices", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Horas", "Index", "Hours", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Color", "Index", "Colors", new { }, new { @class = "dropdown-item" })

                        </div>
                    </li>
                }

                @if (User.IsInRole("User") | User.IsInRole("Profe"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Archivo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (User.IsInRole("User"))
                            {
                                @Html.ActionLink(@Resources.Resource.Menu_Archivo_Profesional, "Index", "Professionals", new { }, new { @class = "dropdown-item" })
                            }
                            @Html.ActionLink(@Resources.Resource.Menu_Archivo_Clients, "Index", "Clients", new { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }

                @if (User.IsInRole("User") | User.IsInRole("Profe"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Agenda
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            @Html.ActionLink(@Resources.Resource.Menu_Agenda_Calendar, "Index", "Events", new { }, new { @class = "dropdown-item" })

                        </div>
                    </li>
                }

                @if (User.IsInRole("User") | User.IsInRole("Profe"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administracion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (User.IsInRole("User"))
                            {
                                @Html.ActionLink(@Resources.Resource.Menu_Administracion_Category, "Index", "ServiceCategories", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink(@Resources.Resource.Menu_Administracion_Service, "Index", "Services", new { }, new { @class = "dropdown-item" })
                            }
                            @Html.ActionLink(@Resources.Resource.Menu_Adminitracion_CobroDirecto, "Create", "DirectPayments", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @if (User.IsInRole("User"))
                            {
                                @Html.ActionLink(@Resources.Resource.Menu_Administracion_CxProfesional, "Index", "DirectGenerals", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink(@Resources.Resource.Menu_Administracion_LiquidarProfesionales, "Index", "PayProfessionals", new { }, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink(@Resources.Resource.MenuAdmin_Egresos, "Index", "Outcomes", new { }, new { @class = "dropdown-item" })
                            }
                        </div>
                    </li>
                }

                @if (User.IsInRole("User") | User.IsInRole("Profe"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reportes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            @Html.ActionLink(@Resources.Resource.Menu_Reportes_AsistenciaClientes, "View_ReportxDate", "Events", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.Menu_Reportes_AsistenciaGeneral, "View_ReportxDateOnly", "Events", new { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }

                @if (User.IsInRole("User"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sistema
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink(@Resources.Resource.Menu_Sistema_Consecutivos, "Index", "Registers", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.Menu_Sistema_Encabezado, "Index", "HeadTexts", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.Menu_Sistema_Indetificador, "Index", "Identifications", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.Menu_Sistema_Impuesto, "Index", "Taxes", new { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }

                <li class="nav-item active">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nexxt Calendar</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
